
/* ------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------*/
/* GENERAL STYLES */
/* ------------------------------------------------------------------------------------------------------------------*/
/* Fonts :
font-family: 'Lato', sans-serif;
font-family: 'Sorts Mill Goudy', serif;             
/*
/* ------------------------------------------------------------------------------------------------------------------*/








/* ------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------*/
/* HEADER */
/* ------------------------------------------------------------------------------------------------------------------*/

.navbar-custom {
    background-color: #2d2d30;
    border-radius: 0;
    border: 0;
}

.